<!-- this is an ejs file that allows htmlWebpackPlugin to add dynamically referencens
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <% if(htmlWebpackPlugin.options.trackJSToken) { %>
  <!-- BEGIN TRACKJS -->
  <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
  <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
  <!-- END TRACKJS -->
  <% } %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Users</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </thead>
    <tbody id="users"></tbody>
  </table>
</body>
</html>
